<% if @article.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @article do |f| %>
    <div class="form-group">
        <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Title here ..' %>
    </div>

    <div class="form-group">
        <%= f.text_area :content, class: 'summernote', style: 'height: 250px' %>
    </div>
    <p>
        <%= f.submit 'Save Article', class: 'btn btn-primary btn-block' %>
    </p>
<% end %>
