<% provide(:title, @article.title) %>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <article class="details">
                <header class="page-header">
                    <h1>
                        <%= @article.title %>
                    </h1>
                    <% if @article.anon? %>
                      <%= link_to image_tag('anon-thumb.jpg', class: 'img-circle', style: 'width:38px; margin-right: 5px'), anon_path %>
                      <small><%= link_to 'Anynomous', anon_path %></small>
                    <% else %>
                      <%= link_to image_tag(@article.user.avatar.url(:thumb), class: 'img-circle', style: 'width:38px; margin-right: 5px'), @article.user %>
                      <small><%= link_to @article.user.name, @article.user %></small>
                    <% end %>
                    <% if current_user == @article.user %>
                      <%= link_to 'Edit', edit_article_path(@article) %>
                      <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Kamu yakin ?' } %>
                    <% end %>
                </header>

                <section>
                    <%= @article.content.html_safe %>
                </section>
            </article>
            <br>

            <header class="page-header">
              <% if @article.comments.empty? %>
                <% if user_signed_in? %>
                  <h4>Be The First commenter to this article !</h4>
                <% end %>
              <% else %>
                <h4>This article have <%= @article.comments.length %> comments</h4>
              <% end %>
            </header>

            <div id="comments">
              <% @comments.each do |item| %>
                <div class="media" id="edit_comment_<%= item.id %>">
                  <div class="media-left">
                    <a href="<%= user_path(item.user.id) %>">
                      <%= image_tag item.user.avatar.url(:thumb), class: "media-object img-circle", width:"70px" %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= item.user.name %> at
                      <small><%= time_ago_in_words(item.created_at) %> ago</small>
                      <div class="pull-right">
                        <%= link_to '<small><i class="fa fa-trash"></i> delete</small>'.html_safe, article_comment_path(@article.id, item.id), method: :delete, remote: true, data: {confirm: "Are you sure ?"}, class: 'text-danger' %>
                      </div>
                    </h4>
                    <%= item.content.html_safe %>
                  </div>
                  <hr>
                </div>
              <% end %>
            </div>

            <% if user_signed_in? %>
              <div id="form-comment">
                <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
                  <div class="hidden">
                    <%= f.text_field :id, value: @article.id %>
                  </div>
                  <div class="media">
                    <div class="media-left">
                      <%= image_tag current_user.avatar.url(:thumb), class: "media-object img-circle", width:"70px" %>
                    </div>
                    <div class="media-body">
                      <%= f.text_field :content, class: "form-control comment-field", placeholder: "What do you say ?" %>
                    </div>
                  </div>
                  <div class="hidden">
                    <%= f.submit "Save Comment", class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
            <% end %>
        </div>
    </div>
</div>
