<article class="home-lists">
    <div class="profile-details-feed">
      <% if item.anon? %>
        <%= image_tag('anon-thumb.jpg', class: "img-circle") %>
      <% else %>
        <%= image_tag(item.user.avatar.url(:thumb), class: "img-circle") %>
      <% end %>
      <span>
        <% if item.anon? %>
          <%= link_to "anynomous", anon_path %> <br>
        <% else %>
          <%= link_to item.user.name, item.user %> <br>
        <% end %>
        <small class="mute"><%= time_ago_in_words(item.created_at) %> ago</small>
      </span>
    </div>
    <header>
        <h2><%= link_to item.title, item %></h2>
    </header>
    <section>
        <%= ("<p>" + item.content[0..250] + "<p>").html_safe %>
    </section>
    <hr>
    <small>
      Tags : <%= render('partials/tags',{tags: item.topics}) %>
      <br>
      <%= item.comments.length %> Comments
    </small>
</article>
