<% provide :title, @user.name %>
<div class="container" style="padding-top:50px">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="text-center">
				<%= image_tag @user.avatar.url(:medium), class: "img-circle" %>
			</div>
			<header class="page-header text-center">
				<h2>
					<%= @user.name %>
					<br>
					<small><%= @user.articles.length %> Articles <span id="followers"><%= @user.followers.count %></span> Followers <span id="following"><%= @user.following.count %></span> Following</small>
				</h2>
				<% if current_user == @user %>
					<div>
						<%= link_to 'Settings', edit_user_path(@user.id), class: "btn btn-default btn-rounded btn-lg" %>
					</div>
				<% end %>
				<% if user_signed_in? && current_user != @user %>
					<div id="follow-form">
						<% if current_user.following?(@user) %>
							<%= render 'unfollow' %>
						<% else %>
							<%= render 'follow' %>
						<% end %>
					</div>
				<% end %>
			</header>

			<% @user.articles.reverse.each do |item| %>
				<%= render 'partials/article_list',item: item %>
			<% end %>
		</div>
	</div>
</div>
