<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag('logo.svg',width: '35px'), articles_path, class: 'navbar-brand' %>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li>
                    <%= link_to "<i class='fa fa-home'></i> Home".html_safe, articles_path %>
                  </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                      <li><%= link_to '<i class="fa fa-pencil-square-o"></i> Write'.html_safe, new_article_path %></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar.url(:thumb), style: "width:30px;margin-top:-10px;margin-bottom:-5px;",class: "img-circle" %><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                        </ul>
                      </li>
                    <% else %>
                      <li><%= link_to 'Sign In', new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
          </div>
        </div>
    </div>
</nav>

<%= yield %>

</body>
</html>
